@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --color--Very-dark-blue-main-background: hsl(233, 47%, 7%);
  --color--Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --color--Soft-violet-accent: hsl(277, 64%, 61%);
  --color--White-main-heading-stats: hsl(0, 0%, 100%);
  --color--Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --color--Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
  background-color: var(--color--Very-dark-blue-main-background);
  color: var(--color--Slightly-transparent-white-main-paragraph);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 15px;
}

.container{
  display: flex;
  flex-basis: 80vw;
  border-radius: 12.5px;
  overflow: hidden;


}
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid pink; */
}

.left {
  background-color: var(--color--Dark-desaturated-blue-card-background);
  flex-basis: 1;
  padding: 4em;
  padding-right: 10em;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-basis: 1;
  width: 90%;
  align-self: flex-start;
}
.right {
  background-color: var(--color--Soft-violet-accent);
  flex-basis: 1;
}
img {
  mix-blend-mode: overlay;
  opacity: 1;
  filter: brightness(80%);
}

.title{
  color: var(--color--Slightly-transparent-white-main-paragraph);
  font-weight: 700;
  font-size: 2.5em;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.color-emphasis{
  color: var(--color--Soft-violet-accent);
}

.copy {
  color: var(--color--Slightly-transparent-white-stat-headings);
  line-height: 1.6;
  
}

.num{
  font-weight: 700;
  font-size: 1.75rem;
  color: var(--color--Slightly-transparent-white-main-paragraph);
}

.tag{
  text-transform: uppercase;
  font-family: 'Inter',
    sans-serif;
  font-weight: 400;
  color: var(--color--Slightly-transparent-white-stat-headings);
  letter-spacing: .1em;
  margin-top: 18%;
}


footer {
  align-self: center;
  position: absolute;
  bottom: 15px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color--Slightly-transparent-white-stat-headings);
}
.attribution a {
  color: var(--color--Soft-violet-accent);
  text-decoration: none;
}